langchain
langchain-community
langchain-groq
langgraph
pinecone-client
pinecone-text
sentence-transformers
transformers
torch
redis
streamlit
httpx
beautifulsoup4
python-dotenv
nest_asyncio